VITE_SUPABASE_URL=https://zzuvqlvxyxitajqerift.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6dXZxbHZ4eXhpdGFqcWVyaWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMTYyMjEsImV4cCI6MjA5NDg5MjIyMX0.OSPIRJJUQFqS_bSz5lLA4mnBlfwxYkr7a8dcmQRq9Vw
VITE_ALLOWED_EMAILS=edamianik@gmail.com,familymember@example.com
